<p id="notice"><%= notice %></p>

<h1 class="text-center">Cocktails</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-4 padded">
    <div class="card" style="background-color: #1F497D">
      <div class="card-category">
        <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
      </div>
      <div class="card-description">
        <h2><%= cocktail.name %></h2>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-primary" %>
